* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f4f4f4;
  font-size: 85%;
  line-height: 2.6em;
  max-width: 1200px;
    margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: rgb(255, 0, 51);
  color: #fff;
  padding: 1em 1.5em;
  border: none;
  outline: none;
  border-radius: 5em;
  font-weight: bold;
  margin-top: 3rem;
}

button:hover{
    background-color: rgb(218, 7, 49);
}

#body-content{
    display: none;
}